dados/secoes_eleitorais_locais.csv
notebooks/secoes_eleitorais_voronois.shp
dados/secoes_eleitorais_locais.csv
maps/secoes_eleitorais_voronoi.tar.gz
dados/base-por-secao.csv
dados/secoes_eleitorais_locais.csv
maps/secoes_eleitorais_voronoi.tar.gz
